# Example Environment Variables
NODE_ENV=put_your_environment_here
PORT=set_your_port_here
LOCAL_URL=set_your_local_url_here

#Logging
LOG_LEVEL=set_your_log_level_here

# JWT Configuration
JWT_ACCESS_TOKEN_SECRET=put_your_access_token_secret_here
JWT_REFRESH_TOKEN_SECRET=put_your_refresh_token_secret_here
JWT_ACCESS_TOKEN_EXPIRATION=set_access_token_expiration_here
JWT_REFRESH_TOKEN_EXPIRATION=set_refresh_token_expiration_here
CORS_WHITELIST=set_your_cors_whitelist_here

# Database Configuration
DB_NAME=set_your_database_name_here
APP_NAME=set_your_app_name_here
DATABASE_URL=mongodb+srv://<username>:<password>@cluster0.dssouyx.mongodb.net/<dbname>?retryWrites=true&w=majority
WHITELIST_ADMIN=set_your_admin_whitelist_here

#Google OAuth
GOOGLE_CLIENT_ID=put_your_google_client_id_here
GOOGLE_CLIENT_SECRET=put_your_google_client_secret_here
GOOGLE_REDIRECT_URI=put_your_google_redirect_uri_here

#Upstash Redis
UPSTASH_REDIS_REST_URL="put_your_upstash_redis_rest_url_here"
UPSTASH_REDIS_REST_TOKEN="put_your_upstash_redis_rest_token_here"

#Gemini API
GOOGLE_API_KEY=put_your_google_api_key_here