# Example Environment Variables
NODE_ENV=put_your_environment_here
PORT=set_your_port_here
LOCAL_URL=set_your_local_url_here

#Logging
LOG_LEVEL=set_your_log_level_here

# JWT Configuration
JWT_ACCESS_TOKEN_SECRET=put_your_access_token_secret_here
JWT_REFRESH_TOKEN_SECRET=put_your_refresh_token_secret_here
JWT_ACCESS_TOKEN_EXPIRATION=set_access_token_expiration_here
JWT_REFRESH_TOKEN_EXPIRATION=set_refresh_token_expiration_here